{%extends "layout.html"%}

{%block tasks%}
<h1>All Items</h1>
<form method="post">
    {%csrf_token%}
    {{forms.as_p}}
    <button type="submit">Search</button>
</form>
<ul>
    <p style="color: red;">{{message}}</p>
    {% for item in items %}
    <li>
        <a href="{% url 'item_details' item.pk %}">{{item.title}}</a> ||
        <a href="{%url 'staic_update_item' item.pk %}" style="color: yellow;">Update</a> ||
        <a href="{%url 'delete_item' item.pk %}" style="color: red;">Delete</a>
    </li>
    {% endfor %}
</ul>
<h3><a href="{%url 'add_static_item' %}" style="color: green;"> Static add Items</a></h3>

<h2>Using Form</h2>
<ul>
    {% for item in items %}
    <li>
        <a href="{% url 'item_details' item.pk %}">{{item.title}}</a> ||
        <a href="{%url 'update_item' item.pk %}" style="color: yellow;">Update</a> ||
        <a href="{%url 'delete_item' item.pk %}" style="color: red;">Delete</a>
    </li>
    {% endfor %}
</ul>
<h3><a href="{%url 'add_item' %}" style="color: green;"> Add Items </a></h3>
{%endblock%}

{%block title%}
Items
{%endblock%}